.cart-holder{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-holder .head-row{
    display: flex;
    width: 90%;
    max-width: 2400px;
    padding: 16px 0px;
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.cart-holder .head-row p{
    text-transform: uppercase;
    font-weight: bold;
}
.cart-holder .head-row p:nth-child(1){
    flex: 1.2;
    max-width: 300px;
}
.cart-holder .head-row p:nth-child(2),
.cart-holder .head-row p:nth-child(3),
.cart-holder .head-row p:nth-child(4),
.cart-holder .head-row p:nth-child(5){
    flex: 1;
}
.cart-holder .product-row{
    display: flex;
    width: 90%;
    max-width: 2400px;
    flex-direction: column;
    border: 1px solid #eeeeee;
    margin-top: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.cart-holder .product{
    display: flex;
    width: 100%;
    align-items: stretch;
    padding: 16px 0px;
    border-bottom: 1px solid #eeeeee;
}
.cart-holder .product:last-child{
    border-bottom: none;
}
.cart-holder .img-holder{
    display: flex;
    flex: 1.2;
    min-height: 100px;
    max-width: 300px;
    background: url("../images/bangle.jpg");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.cart-holder .sub{
    display: flex;
    flex: 2;
}
.cart-holder .product .type,
.cart-holder .product .id,
.cart-holder .remove{
    flex: 1;
    display: flex;
    align-items: center;
}
.cart-holder .product .id{
    text-transform: uppercase;
}
.cart-holder .quantity-holder{
    flex: 1;
    display: flex;
    align-items: center;
}
.cart-holder .quantity{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100px;
}
.cart-holder .quantity p{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    border-radius: 0px;
}
.cart-holder .quantity button{
    width: calc(100%/3);
    padding: 4px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    background: #eeeeee;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0px;
}
.cart-holder .quantity button:hover{
    background: #e83a7f;
    color: #ffffff;
}
.cart-holder .remove p{
    background: #212121;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 2px;
    cursor: pointer;
}
.cart-holder .remove p:hover{
    background: red;
}

.cart-holder .summary{
    align-self: flex-end;
    display: flex;
    width: 40vw;
    margin: 32px 5vw 32px 0px;
    flex-direction: column;
    background: #eeeeee;
    padding: 32px;
    max-width: 400px;
}
.cart-holder .summary h2{
    text-transform: uppercase;
    font-size: 20px;
}
.cart-holder .summary div{
    display: flex;
    margin-bottom: 16px;
}
.cart-holder .summary .title{
    font-weight: bold;
    margin-right: 16px;
}
.cart-holder .summary button{
    border: none;
    align-self: center;
    background: #212121;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    outline: none;
    padding: 4px 8px;
    font-size: 18px;
    cursor: pointer;
}
.cart-holder .summary button:hover{
    background: #e83a7f;
    color: #ffffff;
}
@media only screen and (max-width: 768px){
    .cart-holder .head-row{
        display: none;
    }
    .cart-holder .product{
        flex-direction: column;
    }
    .cart-holder .img-holder{
        max-width: 100%;
        background-size: 40%;
        min-height: 200px;
    }
    .cart-holder .sub{
        padding: 8px 16px;  
    }
    .cart-holder .summary{
        align-self: center;
        width: 90%;
        margin: 32px 0vw;
        max-width: 100%;
    }
}
@media only screen and (max-width: 600px){
    .cart-holder .img-holder{
        background-size: 40%;
    }
}