*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: 0.15s ease-in-out;
    border-radius: 2px; /*change if doesn't work*/
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 1.375em;
}
body{
    background: #ffffff;
    color: #212121;
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
}
#goTopBtn{
    display: none;
    position: fixed;
    right: 2vw;
    bottom: 5vh;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 1px solid #e83a7f;
    color:#e83a7f;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 100;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    opacity: 0.5;
}
#goTopBtn:hover{
    opacity: 1;
}
.nav-bar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: center;
    background: #ffffff;
    align-items: stretch;
    padding: 8px 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 100;
    transition: 0.15s ease-in-out;
}
.nav-bar .row{
    display: flex;
    width: 90vw;
    max-width: 2400px;
    align-items: center;
}
.nav-bar .logo{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    color: #212121;
    font-family: 'Raleway', sans-serif;
}
.nav-bar img{
    max-width: 286px;
    max-height: 84px;
    width: calc(18*3.404%);
    height: calc(18*1%);
    transition: 0.15s ease-in-out;
    cursor: pointer;
}
.nav-bar .menu{
    display: flex;
    flex: 2; 
    justify-content: center;
}
.nav-bar a{
    text-decoration: none;
    color: rgba(33, 33, 33, 0.85);
    padding: 16px;
    transition: 0.15s ease-in-out;
}
.nav-bar .menu a:hover{
    color: rgba(33, 33, 33, 1);
    padding: 16px 32px;
    font-weight: bold;
}
.nav-bar .options{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.nav-bar i{
    color: rgba(33, 33, 33, 0.85);
    padding: 0px 16px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}
.nav-bar #bars{
    display: none;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.nav-bar #user{
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.nav-bar i:hover{
    color: rgba(33, 33, 33, 1);
}
.nav-bar .badge{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -7px;
    left: -20px;
    border-radius: 50%;
    background: rgba(33, 33, 33, 0.85);
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    cursor: pointer;
}
.dropdown{
    display: none;
    width: 100vw;
    margin: auto;
    flex-direction: column;
    z-index: 50;
    padding-top: 64px;
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 20px 1px rgba(33,33,33,0.5);
}
.dropdown i{
    width: 20px;
    text-align: center;
}
.dropdown .nav-links{
    padding: 10px 5%;
    text-decoration: none;
    color: #212121;
    transition: 0.15s ease-in-out;
}
.dropdown .nav-links:hover, .dropdown .nav-links:focus {
    color: #ffffff;
    background: #212121;
}

hr{
    width: 85vw;
    max-width: 2400px;
    border: 1px solid #f9f986;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.01),0 2px 10px 0 rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.01),0 2px 10px 0 rgba(0, 0, 0, 0.01);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.01),0 2px 10px 0 rgba(0, 0, 0, 0.01);
    border-radius: 50%;
    position: relative;
    top: -46px;
    z-index: -1;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(33, 33, 33, 0.95);
    color: rgba(242, 246, 247, 0.5);
    font-size: 14px;
    flex-direction: column;
    width: 100%;
    border-radius: 0px;
}
.footer .row{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 90vw;
    max-width: 2400px;
    padding: 64px 0px;
}
.footer .row:last-child{
    padding: 0px;
    justify-content: space-evenly;
    background: #212121;
    max-width: 100%;
    width: 100vw;
}
.footer .col{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
}
.footer .nest{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.footer .col:nth-child(1){
    flex: 0.8;
    flex-direction: column;
}
.footer .col:nth-child(2){
    flex: 1;
}
.footer .col:nth-child(3){
    flex: 0.7;
    flex-direction: column;
}
.footer .sub{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer .box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer h3{
    color: rgba(232, 58, 127, 0.85);
    margin-bottom: 16px;
}
.footer p{
    padding: 8px 0px;
}
.footer a{
    text-decoration: none;
    color: rgba(242, 246, 247, 0.5);
    border-bottom: 2px solid transparent;
    transition: 0.15s ease-in-out;
}
.footer a:hover{
    color: rgba(242, 246, 247, 1);
}
.footer #store{
    background: rgba(232, 58, 127, 0.85);
    outline: none;
    padding: 4px 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    color: #ffffff;
    margin-top: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.footer #store:hover, .footer #store:focus{
    background: #f9f986;
    color: #212121;
}
.footer #developer{
    color: rgba(232, 58, 127, 0.85);
}
.footer #developer:hover{
    color: rgba(232, 58, 127, 1);
}
.footer .social{
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.footer .soc-icons{
    margin-right: 16px;
    font-size: 18px;
    transition: 0.15s ease-in-out; 
}
.footer .soc-icons:hover{
    color: rgba(232, 58, 127, 1);   
}
.cart-list{
    position: fixed;
    top: 44px;
    right: 20px;
    z-index: 101;
    display: none;
    justify-content: center;
    border-radius: 8px;
    width: 100%;
    max-width: 440px;
    background: #ffffff;
    overflow-y: auto;
    max-height: 40vh;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.cart-list .row{
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0px 8px;
}
.cart-list .item{
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    width: 100%;
    margin: 2px 0px;
    padding: 16px 4px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
}
.cart-list .item:last-child{
    border-bottom: none;
}
.cart-list .img-holder{
    display: flex;
    width: 35%;
    background: url("../images/bangle.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
}
.cart-list .info{
    display: flex;
    width: 65%;
    flex-direction: column;
}
.cart-list i{
    float: right;
    font-size: 18px;
    cursor: pointer;
}
.cart-list i:hover{
    color: red;
}
.cart-list p:nth-child(1){
    padding-bottom: 4px;
}
.cart-list p:nth-child(2){
    font-weight: bold;
}
.cart-list p:nth-child(4){
    text-transform: lowercase;
    background: #eeeeee;
    width: 40px;
    text-align: center;
    padding: 2px 0px;
}
.cart-list .view-cart{
    background: none;
    outline: none;
    padding: 8px 16px;
    min-height: 40px;
    margin: 16px auto;
    border: 1px solid #e83a7f;
    color:#e83a7f;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

@media only screen and (min-width: 993px){
    .dropdown{
        display: none !important;
    }
}

@media only screen and (max-width: 768px){
    hr{
        display: none;
    }
    #goTopBtn{
        opacity: 1;
        bottom: 50px;
    }
    .nav-bar .row{
        width: 100vw;
    }
    .nav-bar .logo{
        flex: 2;
        padding-left: 5%;
    }
    .nav-bar i{
        font-size: 18px;
        padding: 0px 8px;
    }
    .nav-bar #bars{
        display: initial;
    }
    .nav-bar .menu{
        display: none;
    }
    .footer .row{
        width: 100vw;
        flex-direction: column;
        padding: 32px 0px;
    }
    .footer .row:last-child{
        flex-direction: row;
    }
}
@media only screen and (max-width: 600px){
    .cart-list{
        /* width: 100%; */
        max-width: 90%;
        right: 2vw;
    }
    .cart-list .img-holder{
        background-size: 60%;
    }
}