.carousel{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff; 
}
.carousel .car{
    position: absolute;
    top: 0;
    left: 0;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.carousel #car-1{
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg,rgba(249, 249, 134, 0.1),rgba(0, 0, 0, 0.9)), url("../images/bn6.jpg");
}
.carousel #car-2{
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg,rgba(249, 249, 134, 0.1),rgba(0, 0, 0, 0.9)), url("../images/bn2.jpg");
    display: none;
}
.carousel #car-3{
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg,rgba(249, 249, 134, 0.1),rgba(0, 0, 0, 0.9)), url("../images/bn3.jpg");
    display: none;
}
.carousel #car-4{
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg,rgba(249, 249, 134, 0.1),rgba(0, 0, 0, 0.9)), url("../images/bn4.jpg");
    display: none;
}
.carousel img{
    width: 100%;
    height: 100%;
}
.carousel .tag{
    font-size: 20px;
    z-index: 0;
}
.carousel .title{
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 1px;
    z-index: 0;
}
.carousel .btn{
    margin-top: 24px;
    background: #ffffff;
    border: none;
    outline: none;
    padding: 8px 16px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 40px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    color: #212121;
    z-index: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.carousel .btn:hover{
    background: #f9f986;
}
.carousel .switches{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    position: absolute;
    bottom: 20px;
}
.carousel .switch{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(184, 187, 188, 0.7);
    cursor: pointer;
    transition: 0.15s ease-in-out;
}
.carousel .switch:hover{
    background: #ffffffb2;
}
.carousel .active{
    background: #ffffffb2 !important;
}
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.collection h1{
    font-size: 40px;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 0px 16px;
}
.collection .row{
    display: flex;
    width: 90vw;
    max-width: 2400px;
}
.collection .col{
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    justify-content: center;
    height: 920px;
    padding: 16px;
}
.collection .box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 16px auto;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.02),0 2px 10px 0 rgba(0, 0, 0, 0.01) inset;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.02),0 2px 10px 0 rgba(0, 0, 0, 0.01) inset;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.02),0 2px 10px 0 rgba(0, 0, 0, 0.01) inset;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50% !important;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: 0.15s;
}
.collection .box:hover{
    transform: scale(1.02);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.04),0 2px 10px 0 rgba(0, 0, 0, 0.01) inset;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.04),0 2px 10px 0 rgba(0, 0, 0, 0.01) inset;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.04),0 2px 10px 0 rgba(0, 0, 0, 0.01) inset;
    border: 1px solid rgba(33, 33, 33, 0.4);
}
.collection .box1{
    height: 60%;
    background: url("../images/bangle.jpg");
}
.collection .box2{
    height: 40%;
    background: url("../images/chain.jpg");
}
.collection .box3{
    height: 50%;
    background: url("../images/earrings.jpg");
}
.collection .box4{
    height: 60%;
    background: url("../images/set.jpg");
}
.collection .box5{
    height: 60%;
    background: url("../images/necklace.jpg");
}
.collection .box6{
    height: 40%;
    justify-content: space-evenly;
    padding: 32px;
    text-align: center;
    background: rgba(33, 33, 33, 0.1);
}
.collection .box6 h2{
    font-size: 32px;
}
.collection .box6 .btn{
    background: #212121 !important;
    color: #ffffff !important;
}
.collection .box6 .btn:hover{
    background: #ffffff !important;
    color: #212121 !important;
}
.collection .box .btn{
    background: #f9f986;
    border: none;
    outline: none;
    padding: 8px;
    max-width: 200px;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 4px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    color: #212121;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0, 0, 0, 0.06);
}
.collection .box .btn:hover{
    background: #e83a7f;
    color: #ffffff;
}

.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.feature h1{
    font-size: 40px;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 0px 16px;
}
.feature .row{
    display: flex;
    width: 90vw;
    max-width: 2400px;
    align-items: stretch;
    padding: 16px;
}
.feature .col{
    display: flex;
    flex: 1;
    padding: 16px;
    align-items: flex-start;
}
.feature .box{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.feature .img-holder{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center !important;
    background-size: 50% !important;
    background-repeat: no-repeat !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.02),0 2px 10px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.02),0 2px 10px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.02),0 2px 10px 0 rgba(0, 0, 0, 0.08);
    transition: 0.15s;
    border: 1px solid rgba(33, 33, 33, 0.2);
}
.feature .col:nth-child(1) .img-holder{
    width: 100%;
    height: 300px;
    background: url("../images/crown.jpg");
}
.feature .col:nth-child(2) .img-holder{
    width: 100%;
    height: 300px;
    background: url("../images/pear.jpg");
}
.feature .col:nth-child(3) .img-holder{
    width: 100%;
    height: 300px;
    background: url("../images/emerald.jpg");
    background-position: center;
}
.feature .col:nth-child(4) .img-holder{
    width: 100%;
    height: 300px;
    background: url("../images/round.jpg");
}
.feature .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 4px;
}
.feature h4{
    margin-bottom: 4px;
    font-size: 20px;
    text-transform: uppercase;
}
.feature .btn{
    opacity: 0;
    background: #212121;
    border: none;
    outline: none;
    padding: 4px 8px;
    font-family: 'Poppins', sans-serif;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0, 0, 0, 0.06);
}
.feature .btn:first-child{
    margin-right: 8px;
}
.feature .btn:hover{
    background: #e83a7f;
    color: #ffffff;
}
.feature .box:hover .btn{
    opacity: 1;
}
.feature .box:hover .img-holder{
    border: 1px solid rgba(33, 33, 33, 0.4);
}

.gender{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gender .row{
    display: flex;
    align-items: stretch;
    width: 90vw;
    max-width: 2400px;
    padding: 32px 0px;
}
.gender .col{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 8px;
    padding: 32px 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
.gender .col:nth-child(1){
    background: #513AE8;
}
.gender .col:nth-child(2){
    background: #e83a7f;
}
.gender .col:nth-child(3){
    background: #212121;
}
.gender .col:hover{
    transform: scale(1.05);
}
.gender .col:hover .gen{
    visibility: visible;
}
.gender .col:hover img{
    visibility: hidden;
}
.gender h1{
    font-size: 40px;
    margin-bottom: 20px;
    padding: 0px 16px;
    background: #ffffff;
}
.gender img{
    max-width: 256px;
    max-height: 256px;
    width: 40%;
    height: auto;
    transition: visibility 0s;
}
.gender h2{
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    position: absolute;
}
.gender .gen{
    visibility: hidden;
    transition: visibility 0s;
}

.infograph{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: rgba(33, 33, 33, 0.045);
    padding: 16px;
}
.infograph .row{
    display: flex;
    width: 90vw;
    max-width: 2400px;
    align-items: stretch;
}
.infograph .col{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.infograph .col:first-child{
    border-left: none;
}
.infograph h2{
    margin-bottom: 8px;
}
.infograph a{
    text-decoration: none;
    color: #e83a7f;
    padding: 14px 16px;
    border-bottom: 2px solid transparent;
    transition: 0.15s ease-in-out;
}

@media only screen and (min-width: 993px){
    .carousel .title{
        font-size: 3rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px){
    .collection .row{
        width: 100vw;
        flex-direction: column;
    }
    .collection .col{
        width: 100%;
        flex-direction: row;
        align-items: stretch;
        height: auto;
        margin: 0;
        padding: 0px 16px;
    }
    .collection .box{
        margin: 16px 4px;
        height: 300px;
        background-size: 50% !important;
    }
    .collection .box6{
        padding: 32px;
    }
    .collection h1{
        font-size: 28px;
    }
    .feature .row{
        width: 90vw;
        overflow-x: scroll;
        padding-bottom: 16px;
    }
    .feature .col{
        padding: 8px;
    }
    .feature .box{
        width: 250px !important;
        height: 250px;
    }
    .feature h1{
        font-size: 28px;
    }
    .feature .img-holder{
        border: 1px solid rgba(33, 33, 33, 0.4);
    }
    .infograph .row{
        width: 100vw;
        flex-direction: column;
    }
    .infograph .col{
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(33, 33, 33, 0.2);
    }
    .infograph .col:last-child{
        border-bottom: none;
    }
}

@media only screen and (max-width: 600px){
    .carousel .title{
        font-size: 40px;
    }
    .collection .row{
        width: 100vw;
        flex-direction: column;
    }
    .collection .col{
        width: 100%;
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0px 16px;
    }
    .collection .box{
        height: 300px;
        background-size: 50% !important;
    }
    .collection h1{
        font-size: 28px;
    }
    .feature .row{
        width: 90vw;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 16px;
    }
    .feature .col{
        padding: 8px;
    }
    .feature .col:first-child{
        padding-left: none;
    }
    .feature .box{
        width: 250px !important;
        height: 250px;
    }
    .feature h1{
        font-size: 28px;
    }
    .feature .img-holder{
        border: 1px solid rgba(33, 33, 33, 0.4);
    }
    .gender .row{
        width: 100vw;
        flex-direction: column;
        padding: 32px 0px;
    }
    .gender .col{
        margin: 8px 16px;
        min-height: 180px;
    }
    .gender h1{
        font-size: 28px;
    }
    .gender img{
        width: 40% !important;
        opacity: 1;
    }
    .infograph .row{
        width: 100vw;
        flex-direction: column;
    }
    .infograph .col{
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(33, 33, 33, 0.2);
    }
    .infograph .col:last-child{
        border-bottom: none;
    }
}